<a href="https://colab.research.google.com/github/wonjung1/math/blob/main/%EC%9D%B4%EC%82%B0%EC%88%98%ED%95%99_%EC%BD%94%EB%94%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
import time

def time_check(message: str):
  def real_decorator(func):
    def wrapper_function(n):
      start_time = time.time()
      result = func(n)
      end_time = time.time()
      print(f"Big0 : 0({message}) | N : {n} | Time : {end_time - start_time}")
      return result
    return wrapper_function
    return readl_decorator

In [ ]:
import math

@time_check(message="n * logn")
def nlogn(n: int) -> int:
  """ nlog 함수 """
  tmp_list = []
  for n in range(1, n + 1):
    tmp_list.append(n * math.log2(n))
  return tmp_list

@time_check(message="n * n")
def nn(n: int) -> int:
  """ n * n 제곱 함수 """
  tmp_list = []
  for n in range(1, n + 1):
    tmp_list.append(n * n)
  return tmp_list

@time_check(message="n * n")
def npow2(n: int) -> int:
   """ 2의 거듭제곱 함수 """
   tmp_list = []
   for n in range(1, n + 1):
     tmp_list.append(2 ** n)
   return tmp_list

@time_check(message="n!")
def factorial(n: int) -> int:
   """ n! 함수 """
   tmp_list = []
   for i in range(1, n + 1):
     result = 1
     for j in range(1, i + 1):
       result *= j
     tmp_list.append(result)
   return tmp_list

In [ ]:
import matplotlib.pyplot as plt

N = 5
x_axis = [i for i in range(N)]
plt.plot(nlogn(N), x_axis)
plt.plot(nn(N), x+axis)
plt.plot(npow2(N), x_axis)
plt.plot(factorial(N), x_axis)
plt.show()

Big0 : 0(n * logn) | N : 5 | Time : 0.0
Big0 : 0(n * n) | N : 5 | Time : 0.0
Big0 : 0(n * n) | N : 5 | Time : 0.0
Big0 : 0(n!) | N : 5 | Time : 0.0

In [ ]:
def natural_sum(n: int) -> int:
  """ 자연수 합 """
  start_time = time.time()
  for i in range(1, n):
    pass
  end_time = time.time()
  return end_time - start_time

natural_sum(n=10)

2.6226043701171875e-06

In [ ]:
def n_mul_n(n: int) -> int:
  """ n * n 함수 """
  start_time = time.time()
  for _ in range(n):
    for _ in range(n):
      pass
    end_time = time.time()
    return end_time - start_time

In [ ]:
n_mul_n(n=10)

In [ ]:
import pandas as pd

data = {}
for i in range(1, 6):
  if (n := 10 ** i) not in data.keys():
    data[n] = [natural_sum(n)], n_mul_n(n)]

pd.DataFrame(data=data, index=["natural_sum", "n * n"])

2

In [ ]:
input_data = input()
rov = int(input_data[1])
column = int(ord(input_data[0])) - int(ord('a')) + 1

steos = [(-2, -1), (-1, -2), (1, -2), (2, -1), (2, 1), (1, 2), (-1, 2), (-2, 1)]

result = 0
for step in steps:
  next_rov = row + step[0]
  next_column = column + step[1]
  if next_rov >= 1 and next_rov <= 8 and next_column >= 1 and next_column <=8:
    result +=1
print(result)

In [2]:
stack = []

stack.append(5)
stack.append(2)
stack.append(3)
stack.append(7)
stack.pop()
stack.append(1)
stack.append(4)
stack.pop()

print(stack[::-1]) #최상단 원소부터 출력
print(stack) # 최하단 원소부터 출력

[1, 3, 2, 5]
[5, 2, 3, 1]

In [4]:
from collections import deque

# 큐 구현을 위해 deque 라이브러리 사용
queue = deque()

queue.append(5)
queue.append(2)
queue.append(3)
queue.append(7)
queue.popleft()
queue.append(1)
queue.append(4)
queue.popleft()

print(queue) #먼저 들어온 순서대로 출력
queue.reverse() # 역순으로 바꾸기
print(queue) # 나중에 들어온 원소부터 출력

deque([3, 7, 1, 4])
deque([4, 1, 7, 3])

팩토리얼 구현 예제

In [10]:
# 반복적으로 구현한 n!
def factorial_iterative(n):
  result = 1
  # 1부터 n까지의 수를 차례대로 곱하기
  for i in range(1, n + 1):
    result *=  i
  return result

# 재귀적으로 구현한 n!
def factorial_recursive(n):
  if n <= 1: # n이 1 이하인 경우 1을 반환
   return 1
  # n! = n * (n - 1)!를 그대로 코드로 작성하기
  return n * factorial_recursive(n - 1)

# 각각의 방식으로 구현한 n! 출력(n = 5)
print('반복적으로 구현:', factorial_iterative(5))
print('재귀적으로 구현:', factorial_recursive(5))

반복적으로 구현: 120
재귀적으로 구현: 120

최대공약수 계산 예제

In [11]:
def gcd(a, b):
  if a % b == 0:
    return b
  else:
    return gcd(b, a % b)

print(gcd(192, 162))

6

BFS 소스코드 예제

In [13]:
from re import T
from collections import deque

#BFS 메서드 정의
def bfs(graph, start, visited):
 
  #큐 구현을 위해 deque 라이브러리 사용
  queue = deque([start])
 
  #현재 노드를 방문 처리
  visited[start] = True
 
  #큐가 빌 때까지 반복
  while queue:

    # 큐에서 하나의 원소를 뽑아 출력하기
    v = queue.popleft()
    print(v, end='')
 
    # 아직 방문하지 않은 인접한 원소들을 큐에 삽입
    for i in graph[v]:
      if not visited[i]:
        queue.append(i)
        visited[i] = True

# 각 노드가 연결된 정보를 표현 (2차원 리스트)
graph = [
    [],
    [2, 3, 8],
    [1, 7],
    [1, 4, 5],
    [3, 5],
    [3, 4],
    [7],
    [2, 6, 8],
    [1, 7]
]

# 각 노드가 방문된 정보를 표현 (1차원 리스트)
visited = [False] * 9

# 정의된 BFS 함수 호출
bfs(graph, 1, visited)

12387456